option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "loginSignup.settings.prod"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    
    # ✅ Environment variables for superuser creation
    DJANGO_SUPERUSER_USERNAME: "admin"
    DJANGO_SUPERUSER_EMAIL: "admin@example.com"
    DJANGO_SUPERUSER_PASSWORD: "admin123"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "loginSignup.wsgi:application"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

commands:
  01_print_base_dir:
    command: "echo 'BASE_DIR is set to:' && echo $PYTHONPATH"
    ignoreErrors: true

container_commands:
  # 🚀 Remove makemigrations (since migrations should be created locally before deployment)

  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true

    03_create_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    leader_only: true

