option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "loginSignup.settings.prod"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    # You can also directly set secret key or other sensitive variables via SSM or EB environment variables.
    # SECRET_KEY: "your-secret-key"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "loginSignup.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

commands:
  # Example: Print the BASE_DIR for debugging (optional)
  01_print_base_dir:
    command: "echo 'BASE_DIR is set to:' && echo $PYTHONPATH"
    ignoreErrors: true

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  04_create_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    leader_only: true
