files:
  "/opt/elasticbeanstalk/hooks/postdeploy/99_restart_gunicorn.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -e  # Stop if any command fails
      echo "Restarting Gunicorn..."
      
      # Activate Virtual Environment
      source /var/app/venv/staging-LQM1lest/bin/activate
      
      # Move to the app directory
      cd /var/app/current
      
      # Stop any existing Gunicorn processes
      pkill -f gunicorn || true
      
      # Start Gunicorn
      exec gunicorn --workers=3 --bind 0.0.0.0:8000 loginSignup.wsgi:application --daemon
